<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>Pitnik Social Network Toolkit</title>
    <link rel="icon" href="images/fav.png" type="image/png" sizes="16x16">

    <link rel="stylesheet" href="/css/main.min.css">
    <link rel="stylesheet" href="/css/weather-icon.css">
    <link rel="stylesheet" href="/css/weather-icons.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/color.css">
    <link rel="stylesheet" href="/css/responsive.css">

</head>

<body>
    <div class="www-layout">
        <section>
            <div class="gap no-gap signin whitish medium-opacity">
                <div class="bg-image" style="background-image:url(images/mainback.jpeg)"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="big-ad">
                                <figure></figure>
                                <h1>Welcome to</h1>
                                <img class='logo' src="/images/image (1).png">
                                <p>
                                    Together is a social network Application that can be used to connect people who
                                    struggle mentaly. Use this App for connecting with others who know how you feel.Now
                                    join & Make Cool Friends around the world !!!
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="we-login-register">
                                <div class="form-title">
                                    <i class="fa fa-user"></i>login
                                    <span>sign in now and meet the awesome Friends around the world.</span>
                                </div>
                        
                                <form action="/login"class="we-form" method="post">
                                    <input type="text" class="from-control" name="email" placeholder="Email">

                                    <input class="from-control" name="password" type="password" placeholder="Password">

                                    <button type="submit" class="btn btn-warning btn-lg" data-ripple="">Login</button>
                                </form>

                                <span>Don't have an account? <a class="we-account underline" href="/signup"
                                        title="">Register now</a></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

    </div>

    <script src="/js/main.min.js"></script>
    <script src="/js/script.js"></script>

</body>

</html>